<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <title>Translation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
</head>
<div class="card">
    <div class="card-body">
        <table>
        <tr class="mb-3">
            <td colspan="2">
                <label class="form-label">Text to be translated</label>
                <input type="textarea" class="form-control" id="textToTranslate" title="TextoaTraducir">
            </td>
        </tr>
        <tr class="form-group">
            <td>
                <!--<button type="button" onclick="translateToFrench()" class="btn btn-secondary" title="ToFrench">Translate to French</button>-->        
                <button type="button" class="btn btn-secondary" title="ToFrench">Translate to French</button>        
            </td>
            <td>
                <!--<button type="button" onclick="translateToEnglish()" class="btn btn-secondary" title="ToEnglish">Translate to English</button>-->
                <button type="button"  class="btn btn-secondary" title="ToEnglish">Translate to English</button>        
            </td>
        </tr>
        <tr class="mb-3">
            <td colspan="2">
                <input type="textarea" class="form-control" id="textTranslated" title="TextoTraducido">
            </td>
        </tr>
        <table>
    </div>
</div>
</html>